May_Purchased_by_Shameera (1).json
{
  "name": "May Purchased by Shameera",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -20
      ],
      "id": "7dd1deb0-a91d-4b2c-8b48-152523f21a62",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RNCb3RPqKdBdXX47BGjqAf6zFobT9kpeWeMATdfpBCw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780846949,
          "mode": "list",
          "cachedResultName": "Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNCb3RPqKdBdXX47BGjqAf6zFobT9kpeWeMATdfpBCw/edit#gid=1780846949"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -100,
        -20
      ],
      "id": "5aee5ffc-9ce2-46af-a8c7-eeea622527b2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OsQtK8KHAQDUW52r",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        200
      ],
      "id": "b5fe476e-7e04-42c8-9fc6-781133107e28",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.msg4.cloud.robeeta.com/sms.aspx?apikey=e2fd13bf9b3d461d8ab5d0f1d21353efcee96fa21a304965ab56eb1e4934d6ab&tmpid=1707161837708309012&sid=DERMTR&to={{$json[\"PHONE\"]}}&msg=Welcome to Derik Group {{ $json[\"PRICE DROP COUNT\"] }} is your OTP to register for EMP Attendance Mobile App.",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -80
      ],
      "id": "e1bdf514-e98a-4d18-aa6b-767a865b7fd6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cd171a0-0174-4bb7-97c1-3ff5ea050a61",
              "leftValue": "={{ Number($json[\"PRICE NOW\"]) }}",
              "rightValue": "={{ Number($json[\"PRICE\"]) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -100
      ],
      "id": "7dab4a1d-f2e3-4249-8cfb-702825ff794e",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08a19596-3f81-469f-b0fb-61bbe3228a3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76c6092dd93a033c9847e2e8207d6546750d4825e60858fe5442b38806941b04"
  },
  "id": "z7q2t4dza9t8dVI4",
  "tags": []
}